fastapi
uvicorn
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-auth
pydantic-settings
python-dotenv
redis
pydantic
email-validator
requests
jwt
redis 
httpx 
pydantic[email]